  <div class="list-group-flush">
    <a href="/" class="list-group-item list-group-item-action">Startseite</a>
    <a href="/adventures" class="list-group-item list-group-item-action">Abenteuer</a>
    <a href="/characters" class="list-group-item list-group-item-action">Personen</a>
    <a href="/groups" class="list-group-item list-group-item-action">Gruppierungen</a>
    <a href="/locations" class="list-group-item list-group-item-action">Orte</a>
    <a href="/ships" class="list-group-item list-group-item-action">Schiffe</a>
  </div>
