<div class="container-fluid" *ngIf="visible">

  <i *ngIf="isOwner" class="fas fa-user-lock btn btn-sm btn-dsa-normal float-right" (click)="openPermissionsForm()"></i>

  <h4>{{name}}</h4>

  <div class="row">

    <div class="col-12 col-xl-9 order-2 order-xl-1">
      <dsa-input-box [dataName]="'Planung'" [dataType]="DataType.ADVENTURE" [dataId]="id" [dataField]="'planning'"></dsa-input-box>
      <dsa-input-box [dataName]="'Chronik'" [dataType]="DataType.ADVENTURE" [dataId]="id" [dataField]="'chronic'"></dsa-input-box>
    </div>

    <div class="col-12 col-xl-3 order-1 order-xl-2">
      <dsa-input-box [dataName]="'Resultat'" [dataType]="DataType.ADVENTURE" [dataId]="id" [dataField]="'results'"></dsa-input-box>
      <dsa-input-box [dataName]="'Notizen'" [dataType]="DataType.ADVENTURE" [dataId]="id" [dataField]="'notes'"></dsa-input-box>
    </div>

  </div>

</div>
