<div class="container-fluid">
  <h6 class="mt-3">Nützliche Links:</h6>
  <div class="list-group list-group-sm">
    <a href="http://de.wiki-aventurica.de" target=_blank class="list-group-item list-group-item-action">Wiki-Aventurica</a>
    <a href="http://dsa.itemcards.com" target=_blank class="list-group-item list-group-item-action">Namensgenerator</a>
    <a href="http://www.avespfade.de" target=_blank class="list-group-item list-group-item-action">Avespfade</a>
    <a href="http://www.dereglobus.org" target=_blank class="list-group-item list-group-item-action">DereGlobus</a>
    <a href="http://www.helden-software.de" target=_blank class="list-group-item list-group-item-action">Heldensoftware</a>
  </div>
</div>
