<div class="container-fluid" *ngIf="visible">

  <i *ngIf="isOwner" class="fas fa-user-lock btn btn-sm btn-dsa-normal float-right" (click)="openPermissionsForm()"></i>


  <h4>{{name}}</h4>

  <div class="row">

    <div class="col-12 col-xl-9 order-1 order-xl-1">
      <dsa-input-box [dataName]="'Beschreibung'" [dataType]="DataType.GROUP" [dataId]="id" [dataField]="'description'">
      </dsa-input-box>
    </div>

    <div class="col-12 col-xl-3 order-2 order-xl-2">
      <dsa-link-list-box
        [dataName]="'Mitglieder'"
        [dataType]="DataType.GROUP"
        [entryType]="DataType.CHARACTER"
        [dataId]="id"
        [dataField]="'members'"></dsa-link-list-box>
      <dsa-input-box [dataName]="'Notizen'" [dataType]="DataType.GROUP" [dataId]="id" [dataField]="'notes'">
      </dsa-input-box>
    </div>

  </div>

</div>
