<div>
  <div class="position-relative d-inline-block">

    <img class="data_image border-dsa-dark" src="/assets/img/ship_top.png">

    <img class="position-absolute" src="/assets/img/wind_top.png"
         style="top: 7%; left: 50%;
      -webkit-transform: translate(-50%, -50%)">
    <span class="position-absolute"
          style="top: 7%; left: 50%;
      -webkit-transform: translate(-50%, -50%)">
      {{speed_front}}</span>

    <img class="position-absolute" src="/assets/img/wind_bottom.png"
         style="top: 92%; left: 50%;
      -webkit-transform: translate(-50%, -50%)">
    <span class="position-absolute"
          style="top: 92%; left: 50%;
      -webkit-transform: translate(-50%, -50%)">
      {{speed_back}}</span>

    <img class="position-absolute" src="/assets/img/wind_left.png"
         style="top: 45%; left: 15%;
      -webkit-transform: translate(-50%, -50%)">
    <span class="position-absolute"
          style="top: 45%; left: 15%;
      -webkit-transform: translate(-50%, -50%)">
      {{speed_left}}</span>

    <img class="position-absolute" src="/assets/img/wind_right.png"
         style="top: 45%; left: 85%;
      -webkit-transform: translate(-50%, -50%)">
    <span class="position-absolute"
          style="top: 45%; left: 85%;
      -webkit-transform: translate(-50%, -50%)">
      {{speed_right}}</span>

    <span class="position-absolute"
          style="top: 43.5%; left: 50%; color: white;
      -webkit-transform: translate(-50%, -50%)">
      {{maneuver}}</span>


  </div>
</div>
