<div class="container-fluid">
  <h4>Liste der Orte:</h4>

  <div *ngIf="categoriesMap">

    <div *ngFor="let category of categoriesMap.keys()">
      <h6 class="mt-3">{{category}}:</h6>
      <div class="list-group list-group-sm">
        <dsa-dsa-link *ngFor="let location of categoriesMap.get(category)" [type]="DataType.LOCATION" [data_id]=location [list]="true"></dsa-dsa-link>
      </div>
    </div>

    <i class="fas fa-plus btn btn-sm btn-dsa-normal float-left mt-4" style="line-height: inherit" (click)="openNewForm()"></i>

  </div>

</div>
