<div class="container-fluid">
  <h4>Liste der Personen:</h4>

  <div *ngIf="categoriesMap">

    <!-- Spieler -->
    <div *ngIf="categoriesMap.has('Spieler')">
      <h6 class="mt-3">Spieler:</h6>
      <div class="list-group list-group-sm">
        <dsa-dsa-link *ngFor="let char of categoriesMap.get('Spieler')" [type]="DataType.CHARACTER" [data_id]=char [list]="true"></dsa-dsa-link>
      </div>
    </div>

    <!-- Hauptpersonen -->
    <div *ngIf="categoriesMap.has('Hauptpersonen')">
      <h6 class="mt-3">Hauptpersonen:</h6>
      <div class="list-group list-group-sm">
        <dsa-dsa-link *ngFor="let char of categoriesMap.get('Hauptpersonen')" [type]="DataType.CHARACTER" [data_id]=char [list]="true"></dsa-dsa-link>
      </div>
    </div>

    <!-- Rest -->
    <div *ngFor="let category of categoriesMap.keys()">
      <div *ngIf="category !== 'Spieler' && category !== 'Hauptpersonen'">
        <h6 class="mt-3">{{category}}:</h6>
        <div class="list-group list-group-sm">
          <dsa-dsa-link *ngFor="let char of categoriesMap.get(category)" [type]="DataType.CHARACTER" [data_id]=char [list]="true"></dsa-dsa-link>
        </div>
      </div>
    </div>

  </div>

</div>
