<div class="container-fluid"  *ngIf="visible">
  <h4>{{name}}</h4>

  <div class="row">

    <div class="col-12 col-xl-6">

      <div *ngIf="imgUrl">
        <img class="data_image mt-4" [src]=imgUrl>
      </div>
      <dsa-input-box [dataType]="DataType.SHIP" [dataId]="id" [dataField]="'properties'"></dsa-input-box>

    </div>

    <div class="col-12 col-xl-6">

      <dsa-input-box [dataName]="'Schaden'" [dataType]="DataType.SHIP" [dataId]="id" [dataField]="'damage'"></dsa-input-box>
      <dsa-input-box [dataName]="'Notizen'" [dataType]="DataType.SHIP" [dataId]="id" [dataField]="'notes'"></dsa-input-box>
      <div *ngIf="speed">
        <h5>Geschwindigkeit</h5>
        <dsa-ship-movement-view [speed]="speed"></dsa-ship-movement-view>
      </div>

    </div>

  </div>

</div>
